/* Google font link start */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
/* Google font link close */

/* Universal tag selector style start */
* {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Universal tag selector style close */

/* sheard style start */
:root {
  --btn-color: rgb(255, 84, 0);
  --title-text: rgb(19, 19, 24);
  --des-text: rgb(90, 90, 93);
  --primary-text: rgba(19, 19, 24, 0.7);
  --secondery-text: white;
}

.btn {
  border-radius: 8px;
  padding: 10px 15px;
  border: none;
  font-size: 1rem;
  color: var(--secondery-text);
  background: var(--btn-color);
}

section {
  max-width: 1300px;
  margin: auto auto 6rem auto;
}
.section-title {
  font-size: 2.3rem;
  font-weight: 800;
  text-align: center;
  color: var(--title-text);
}
.section-description {
  font-size: 1rem;
  font-weight: 400;
  margin: 1.25rem auto;
  text-align: center;
  color: var(--des-text);
}
.div-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--title-text);
}
span {
  color: var(--btn-color);
}
/* sheard style close */

/* Navigation var style start */
nav span {
  color: var(--btn-color);
}
nav {
  max-width: 1300px;
  margin: auto auto 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav div h3 {
  font-size: 2.25rem;
  font-weight: 800;
}
nav div p {
  font-size: 1.1rem;
  font-weight: 400;
  cursor: pointer;
}
/* Navigation var style close */

/* Banner section style start */
.banner {
  border-radius: 10px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8),
      rgba(19, 19, 24, 0) 100%
    ),
    url(../assets/header.png);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 180px;
}
.banner-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-content h3 {
  color: var(--secondery-text);
  font-size: 3.5rem;
  font-weight: 800;
}
.banner-content p {
  color: var(--secondery-text);
  margin: 2rem auto;
}
.form {
  background: rgba(255, 255, 255, 0.2);
  padding: 0.8rem 0.9rem;
  margin-top: 1rem;
}
.form input {
  border-radius: 8px;
  padding: 10px 15px;
  border: none;
  font-size: 1rem;
  color: var(--title-text);
  background: var(--secondery-text);
  max-width: 140px;
  margin-right: 10px;
}
.form select {
  border-radius: 8px;
  padding: 10px 15px;
  border: none;
  font-size: 1rem;
  color: var(--title-text);
  background: var(--secondery-text);
  max-width: 140px;
  margin: auto 10px auto auto;
}
/* Banner section style close */

/* Popular ture section style start */
.popular-ture {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: start;
}
.popular-content h3 {
  text-align: start;
  margin-bottom: 2rem;
}
.popular-content p {
  text-align: start;
  line-height: 26px;
}
.popular-content button {
  margin-top: 1.8rem;
}
.popular-content ul {
  margin: 1.5rem auto;
}
.popular-content ul li {
  text-align: start;
  line-height: 26px;
  margin-left: 1rem;
  font-size: 1rem;

  font-weight: 400;
  color: var(--des-text);
}
/* Popular ture section style close */

/* Choose destinaton saction style start */
.destination-img img {
  width: 100%;
  height: 300px;
  filter: brightness(70%);
}
.destination-img .div-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}
.destination-img .div-1 img {
  width: 100%;
}

.destination-img .div-1 div {
  position: relative;
}
.destination-img .div-1 div p {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  color: var(--secondery-text);
  transform: translate(-50%, -50%);
}

.destination-img .div-2 {
  display: grid;
  grid-template-columns: 0.8fr 1fr 0.7fr;
  gap: 1.25rem;
  margin-top: 1.25rem;
}
.destination-img .div-2 img {
  width: 100%;
}

.destination-img .div-2 div {
  position: relative;
}
.destination-img .div-2 div p {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  color: var(--secondery-text);
  transform: translate(-50%, -50%);
}

.destination-img .div-3 {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  gap: 1.25rem;
  margin-top: 1.25rem;
}
.destination-img .div-3 img {
  width: 100%;
}

.destination-img .div-3 div {
  position: relative;
}
.destination-img .div-3 div p {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  color: var(--secondery-text);
  transform: translate(-50%, -50%);
}
/* Choose destinaton saction style close */

/* Why choose us section style start */
.choose-us-card {
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.choose-us-card div {
  padding: 1.25rem;
  width: 49%;
  margin-top: 2rem;
  border-radius: 8px;
}
.choose-us-card img {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}
.choose-us-card div p {
  text-align: start;
  margin-left: 0px;
}
.card-1 {
  background: rgb(236, 231, 231);
}
.card-2 {
  background: rgb(244, 253, 255);
}
.card-3 {
  background: rgb(254, 245, 245);
}

/* Why choose us section style close */

/* Deals & Discount section style start */
.discount-1 {
  background: url(../assets/discount.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  display: flex;
  align-items: end;
  justify-content: end;
  border-radius: 0.5rem;
  margin-top: 2rem;
}
.discount-content {
  width: 50%;
  padding: 3rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  text-align: start;
}
.discount-content p{
  text-align: start;
  margin-bottom:1.25rem;
}
.discount-2 {
  background: url(../assets/Group\ 40.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  margin-top: 1.25rem;
  border-radius: 0.5rem;
}
.discount-content-2 {
  width: 50%;
  padding: 3rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  text-align: start;
}
.discount-content-2 p{
  text-align: start;
  margin-bottom:1.25rem;
}
/* Deals & Discount section style close */

/* simple parfact section start */
.perfact{
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: start;
}
.perfact-content h3 {
  text-align: start;
  margin-bottom: 2rem;
}
.perfact-content p {
  text-align: start;
  line-height: 26px;
}
.perfact-content button {
  margin-top: 1.8rem;
}
.perfact-content ul {
  margin: 1.5rem auto;
}
.perfact-content ul li {
  text-align: start;
  line-height: 26px;
  margin-left: 1rem;
  font-size: 1rem;

  font-weight: 400;
  color: var(--des-text);
}
.perfact-img{
  position: relative;
}
.perfact-img p{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.25rem;
  color: var(--secondery-text);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* simple parfact section close */

/* Newslatter saction start */
.newslatter{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
.newlatter-form{
  max-width: 45%;
  padding: 4.2rem 2.5rem;
  border: 2px solid var(--btn-color);
  border-radius: 8px;
}
.newlatter-form h3{
  text-align: start;
}
.newlatter-form p{
  text-align: start;
}
.newlatter-form hr{
  margin-bottom: 1.25rem;
}
.newlatter-form input{
  display: block;
  width:100%;
  margin-bottom:0.8rem;
  padding:10px;
  background: #F3F3F3;
  border: none;
  border-radius: 8px;
}
.newlatter-form button{
  width: 100%;
  padding: 10px;
  background: var(--btn-color);
  border: none;
  color: var(--secondery-text);
  border-radius: 8px;
}
.newslatter-img{
  max-width: 53%;
  position: relative;
}
.newslatter-img img{
  width: 100%;

}
.newslatter-img button{
padding: 10px 15px;
background: var(--btn-color);
color: var(--secondery-text);
border: none;
border-radius: 8px;
position: absolute;
top:58%;
left: 58%;
transform:rotate(-30deg);
}
.newslatter-img button h4{
  font-size:2rem;
  font-weight: 800;
}
.newslatter-img button p{
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px;
}
/* Newslatter saction close */


/* footer section style start */
footer{
  background-color: rgb(243, 243, 243);
  text-align: center;
  padding-top:6rem;
  padding-bottom:6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .f-loge{
  display: flex;
  align-items: center;
  gap: 1.25rem;
  justify-content: center;
}
footer .icon a{
  font-size: 1.25rem;
  margin:10px;
  color: var(--title-text);
}
footer hr{
  margin: 1.25rem;
  width: 60%;
  text-align: center;
}
/* footer section style close */